{% extends 'layouts/body.html.twig' %}
{% form_theme form 'tailwind_2_layout.html.twig' %}

{% block title %}
	Post
{% endblock %}

{% block content %}

	<div class="container mx-auto flex flex-wrap py-2">
		<section class="w-full md:w-2/3 flex flex-col items-center px-3">

			<article class="flex flex-col shadow my-4">

				{% if post.image %}

					<img class="hover:opacity-75" src="{{ vich_uploader_asset(post, 'imageFile') }}" alt="{{ post.image }}">

				{% endif %}

				<div class="bg-white flex flex-col justify-start p-6">
					<a href="{{ path('app_category', {'slug': post.category.slug}) }}" class="text-violet-600 hover:text-gray-900 text-sm font-bold uppercase pb-4 hover:underline">{{ post.category.name }}</a>
						<p class="text-3xl font-bold hover:text-gray-700 pb-4">{{ post.title }}</p>
							<p href="#" class="text-sm pb-8">
								Published on <i class="fa-solid fa-calendar-days"></i> <b>{{ post.createdAt|format_date('medium') }}</b>
							</p>

					<p class="pb-3 text-justify">{{ post.content }}</p>
				</div>
			</article>

			<h2 class="text-sm mb-8 font-semibold uppercase">
				Add Comment
			</h2>
			
			<div class="w-full">
				{{ form_start(form) }}
				<label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white py-1 px-1">
					{{ form_label(form.author) }}
				</label>
					{{ form_widget(form.author, { 'attr': {'class':  'bg-gray-50 border border-gray-300 text-gray-900 text-sm block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white focus:outline-none focus:ring-2 focus:ring-violet-800'} }) }}

				<div class="text-xs text-red-600 dark:text-red-500">
					{{ form_errors(form.author) }}
				</div>

				<label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white py-1 px-1">
					{{ form_label(form.text) }}
				</label>
					{{ form_widget(form.text, { 'attr': {'class':  'bg-gray-50 border border-gray-300 text-gray-900 text-sm block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white focus:outline-none focus:ring-2 focus:ring-violet-800'} }) }}

				<div class="text-xs text-red-600 dark:text-red-500">
					{{ form_errors(form.text) }}
				</div>

				<div class="container mt-4 space-y-6"></div>
				<div class="form-group group relative flex justify-center bg-gray-50 py-2 px-4 border border-gray-300 hover:border-2 hover:border-violet-800 text-gray-400 hover:text-violet-800 pt-1 pb-1 pl-6 pr-6 w-1/4 font-medium text-sm">
					{{ form_row(form.submit) }}
				</div>

				{{ form_end(form) }}
			</div>

			<div class="w-full flex pt-6"></div>

			{% if post.comments|length >= 1 %}

				<h2 class="text-sm mb-8 font-semibold uppercase">
					Comments: {{ post.comments|length }}
				</h2>

			{% else %}

				<h2 class="text-sm mb-8 font-semibold uppercase">
					No comments
				</h2>

			{% endif %}

			{% for comment in post.comments %}

				{% include 'components/_comments.html.twig' %}

			{% endfor %}

			<div class="w-full flex pt-6 justify-center">
				<a href="{{ path('app_home') }}">
					<p class="form-group group relative flex justify-center border-2 border-gray-400 hover:border-violet-800 text-gray-400 hover:text-violet-800 pt-1 pb-1 pl-6 pr-6 uppercase font-medium text-sm">
						Return to the posts page
					</p>

				</a>
			</div>

		</section>
		{% include "components/_sidebar.html.twig" %}
	</div>

{% endblock %}
