{% for post in posts %}

	    <div class="container mx-auto flex flex-wrap py-6">
		    <section class="w-full md:w-2/3 flex flex-col items-center px-1">

			    <article class="flex flex-col">
				    <div class="bg-white flex flex-col justify-start p-6 shadow hover:shadow-xl shadow-gray-800/50">
					    <a href="{{ path('app_category', {'slug': post.category.slug}) }}" class="text-violet-600 hover:text-gray-900 text-sm font-bold uppercase pb-4 hover:underline">{{ post.category.name }}</a>
					    <a href="{{ path('app_post', {'slug': post.slug}) }}" class="text-3xl font-bold hover:text-gray-700 hover:underline pb-4">{{ post.title }}</a>
					    <p class="text-sm pb-3">
						    Published on <b>{{ post.createdAt|format_date('medium') }}</b>
					    </p>
					    <p class="pb-6">{{ post.previewContent }}</p>
					    <a href="{{ path('app_post', {'slug': post.slug}) }}" class="uppercase text-gray-800 hover:text-violet-600 hover:underline">
							Continue Reading
						</a>
				    </div>
			    </article>
				
		 	</section>

{% else %}
	<div class="flex flex-col items-center py-8">
		<p class="font-bold text-gray-800 uppercase">
			No posts
		</p>
	</div>
{% endfor %}

   	</div>
				<div class="w-full md:w-2/3 flex flex-col items-center px-1">
				{{ knp_pagination_render(posts) }}
				</div>
			</div>
		</div>
	</div>
</div>